
<!-- Blog Layout Start -->

<!DOCTYPE html>
<html lang="{{ site.lang }}">

  {% include head.html %}

  <body>

    {% include navigation.html %}

    <section id="page" class="container content-section">

      <div class="row">
        <div class="col-md-8 col-md-offset-1">


        {{ page.content | markdownify }}

        <div>
          {% for post in paginator.posts %}
            {% include post-list-desc.html%}
          {% endfor %}
        </div>

        {% include pagination.html %}

        </div>
        <div class="col-md-2">
          <div class="row pb-1">
            {% include categories.html %}
          </div>
          <div class="row pb-1">
            {% include tags.html %}
          </div>
        </div>
      </div>
    </section>

    {% include footer.html %}

    {% include js.html %}

  </body>
</html>

<!-- Blog Layout End -->
