---
layout: default
---
<!-- About Start -->

<section id="bloglatest" class="container content-section">
  <div class="row">
    <div class="col-md-8 col-md-offset-1">

      {{ page.content | markdownify }}
      {% assign recentposts = site.posts | sort:"date" | reverse | limit: site.numberoflatestposts %}
      
      {% for post in recentposts %}
        {% include post-list-desc.html %}
      {% endfor %}
      <h4><a href="{{site.baseurl}}/blog/">Archive</a></h4>

    </div>
    <div class="col-md-2">
      <div class="row pb-1">
        {% include categories.html %}
      </div>
      <div class="row pb-1">
        {% include tags.html %}
      </div>
    </div>
  </div>
</section>

<!-- About End -->
